body {
  background-color: rgb(223, 226, 229);
}
.text {
  display: flex;
  justify-content: center;
}
.item {
  display: flex;
  justify-content: center;
}
.counter__btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#plus,
#minus {
  width: 50px;
  height: 30px;
  border: 1px solid white;
  border-radius: 7px;
  background-color: rgb(117, 117, 117);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}
.count {
  display: flex;
  justify-content: center;
}
.green {
  color: green;
}
.yellow {
  color: yellow;
}
.red {
  color: red;
}
